* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Quicksand", sans-serif;
}

/* Catergories */
.categories {
  height: 150vh;
  width: 100%;
  background: #f7f7f7;
}
.header-title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.item__content {
  position: relative;
  height: 456px;
  width: 348px;
}
.item__content img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 6px;
  object-fit: contain;
}
.item__content .title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 48px;
  z-index: 2;
  color: white;
}
.item__content .title h5:last-of-type {
  color: #ffc600;
}

.item__content a::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  content: " ";
  position: absolute;
  z-index: 1;
  border-radius: 6px;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
}

.item__content img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}

/* Features */
.features {
  padding-top: 15vh;
  height: 100vh;
}
.box-wrap {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
  box-shadow: 0 25px 98px 0 rgb(0 0 0 / 3%);
  background-color: var(--bg-color);
  position: relative;
  border: 1px solid var(--border-color-light);
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}

.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, 0.05);
  line-height: 70px;
  border-radius: var(--border-radius);
  transition: 0.3s ease-in-out;
  border-radius: 6px;
}

.icon span.fa {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}

.info p {
  font-size: 18px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
  margin: auto 0;
}

.info h4 a {
  color: #232121;
  text-decoration: none;
  font-weight: 700;
}
.box-wrap:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.box-wrap:hover .icon {
  background-color: #ff6600;
  transition: 0.3s;
}

.box-wrap:hover .icon span {
  color: white;
  transition: 0.3s ease-in-out;
}

.info h4:hover a {
  color: #ff6600;
  transition: 0.3s ease-in-out;
}

/* Middle */

.middle {
  height: 80vh;
  background-image: url(/img/banner2.jpg);
  position: relative;
}

.middle::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.329);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.middle-title {
  margin-top: 3rem;
}
.middle-title h3 {
  color: white;
  font-size: 3rem;
}

.middle-button button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid white;
  border-radius: 6px;
  padding: 1rem 4rem;
  margin: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
}

.middle-button button:last-of-type {
  background-color: #ff6600;
  border: 3px solid #ff6600;
}

/* BLOG    */
#blog {
  background: #f7f7f7;
  height: 40rem;
}
.header-title {
  margin-left: 45%;
}
h3 {
  font-size: 40px;
}
h5 {
  font-size: 20px;
  font-family: "Dancing Script", cursive;
  color: #ff6600;
  margin-left: 5%;
}

.row1 {
  display: grid;
  gap: 30px;
  column-count: 1fr 1fr 1fr;
}
.row1 .card2 {
  grid-column: 2/3;
}
.row1 .card3 {
  grid-column: 3/4;
}
.card {
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 0.5rem;
  width: 365px;
  border: none;
  background-color: #f7f7f7;
}
.car1 h6 {
  margin: 1rem 0;
}
.container {
  /* width: 100%; */
  padding-right: 15px;
  padding-left: 15px;
}
img {
  image-rendering: pixelated;
  background-size: cover;
  width: 100%;
  border-radius: 0.5rem;
}
.pop {
  position: relative;
  content: "";
  top: -35px;
  left: 10px;
  font-size: 12px;
}
.pop a {
  color: #fff;
  padding: 8px 25px;
  border-radius: 50px;
  background-color: #ff6600;
  text-decoration: none;
}
.pop i {
  color: #fff;
}
.in4 ul {
  display: flex;
}
.in4 img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.in4 li {
  list-style-type: none;
}
.li1 {
  margin-top: 10px;
}
.li2 {
  display: flex;
  margin-left: 80px;
}
.li1 p {
  font-weight: 600;
}
.li2 a {
  color: #000;
  font-weight: 600;
  margin: 0 10px;
  text-decoration: none;
}
/* BLOG    */
.Testimonials-item img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-left: 47%;
}

.slick-dots {
  margin: auto;
  display: inline-block;
  grid-gap: 0 20px;
}
/* chưa chỉnh dc button  */
.sick-active button:hover {
  background: #ff6600;
}
.Testimonials-title h3 {
  margin: 40px 39%;
}
.Testimonials-title h5 {
  margin: 40px 46% -30px;
}
.Testimonials-item h6 {
  font-size: 70px;
  display: block;
  font-family: initial;
  color: #ff6600;
}
/* BLOG    */
/* footer    */
.footer {
  color: #fff;
  background-color: #000;
  height: 400px;
}
.row {
  margin-top: 5%;
}
.footer-big {
  margin-top: 7%;
  display: flex;
  flex-wrap: nowrap;
}
.footer-icon i {
  color: #ff6600;
}
.footer-icon .facebook {
  font-size: 17px;
  padding: 10px 15px;
  background: #fff;
  border-radius: 8px;
}
.footer-icon .twitter {
  font-size: 17px;
  padding: 10px 15px;
  background: #fff;
  border-radius: 8px;
  margin: 10px;
}
.footer-icon .instagram {
  font-size: 17px;
  padding: 10px 15px;
  background: #fff;
  border-radius: 8px;
  margin-right: 10px;
}
.footer-icon .linkedin {
  font-size: 17px;
  padding: 10px 15px;
  background: #fff;
  border-radius: 8px;
}
.network:hover {
  background: #ff6600;
}
.network:hover i {
  color: #fff;
}
.footer-colump1 {
  margin: 0 70px;
}
.footer-logo p {
  margin: 30px 0;
  color: #a5a2a1;
}
.footer-colump1 h6 {
  margin-bottom: 45px;
  font-size: 20px;
}
.footer-colump1 ul {
  list-style-type: none;
}
.footer-colump1 li {
  margin: 10px 0;
}

.footer-colump1 a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
  text-decoration: none;
}
.cot1:hover {
  color: #ff6600;
}
.footer-colump2 {
  margin-right: 70px;
}
.footer-colump2 h6 {
  margin-bottom: 45px;
  font-size: 20px;
}
.footer-colump2 ul {
  list-style-type: none;
}
.footer-colump2 li {
  margin: 10px 0;
}

.footer-colump2 a {
  font-size: 17px;
  line-height: 26px;
  color: #a5a2a1;
  text-decoration: none;
}
.footer-colump3 h6 {
  margin-bottom: 45px;
  font-size: 20px;
}
.footer-colump3 p {
  color: #a5a2a1;
}
.footer-colump3 input {
  height: 50px;
  border-radius: 8px;
  border: none;
}
.btn-footer {
  background-color: #ff6600;
  color: #fff;
  height: 50px;
  border-radius: 8px;
  border: none;
}
.btn-footer:hover {
  color: #fff;
  background-color: #cc5204;
}
.end {
  padding-top: 1px;
  background: #000;
}
.end p {
  color: #fff;
}
.end-left a {
  color: #ff6600;
}
.end-left:hover a {
  color: #fff;
  text-decoration: none;
}
.end-right {
  list-style-type: none;
}
.end-right a {
  color: #a5a2a1;
  text-decoration: none;
}
/* Catergories */
.categories {
  height: 150vh;
  width: 100%;
  background: #f7f7f7;
}
.header-title h6 {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  color: #ff6600;
  display: block;
  font-family: "Pacifico", cursive;
}
.item__content {
  position: relative;
  height: 456px;
  width: 348px;
}
.item__content img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 6px;
  object-fit: contain;
}
.item__content .title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 48px;
  z-index: 2;
  color: white;
}
.item__content .title h5:last-of-type {
  color: #ffc600;
}

.item__content a::after {
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  position: absolute;
  z-index: 1;
  border-radius: 6px;

  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0,
    rgba(0, 0, 0, 0.53) 69%,
    rgba(0, 0, 0, 0.76) 100%
  );
}

.item__content img:hover {
  opacity: 0.85;
  transition: all 0.4s;
}

/* Features */
.features {
  padding-top: 15vh;
  height: 100vh;
}
.box-wrap {
  padding: 40px 40px;
  transition: all 0.5s ease 0s;
  background-color: var(--bg-color);
  position: relative;
  border: 1px solid var(--border-color-light);
  border-radius: 6px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.box-wrap-grid {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
}

.icon {
  width: 70px;
  height: 70px;
  text-align: center;
  background: rgba(130, 115, 252, 0.05);
  line-height: 70px;
  transition: 0.3s ease-in-out;
  border-radius: 6px;
}

.icon span.fa {
  color: #ff6600;
  font-size: 25px;
  line-height: 70px;
}

.info p {
  font-size: 18px;
  color: rgba(22, 28, 45, 0.7);
  font-family: "Quicksand", sans-serif;
  margin: auto 0;
}

.info h4 a {
  color: #232121;
  text-decoration: none;
  font-weight: 700;
}
.box-wrap:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
}

.box-wrap:hover .icon {
  background-color: #ff6600;
  transition: 0.3s;
}

.box-wrap:hover .icon span {
  color: white;
  transition: 0.3s ease-in-out;
}

.info h4:hover a {
  color: #ff6600;
  transition: 0.3s ease-in-out;
}

/* Middle */

.middle {
  height: 80vh;
  background-image: url(/img/banner2.jpg);
  position: relative;
}

.middle::before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.329);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.middle-title {
  margin-top: 3rem;
}
.middle-title h3 {
  color: white;
  font-size: 3rem;
}

.middle-button button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: 3px solid white;
  border-radius: 6px;
  padding: 1rem 4rem;
  margin: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
}

.middle-button button:last-of-type {
  background-color: #ff6600;
  border: 3px solid #ff6600;
}
